<div class="row g-4">
    <div class="col-md-4">
        <img src="../img/carousel1.jpg" class="img-fluid rounded event-card-image h-100" alt="...">
    </div>
    <div class="col-md-8">
        <h3 class="card-title fw-bold mb-4" id="maininfo">Four Decades of Hits</h3>
        <h4 class="card-subtitle mb-4">#Music, Oldschool</h4>
        <button class="btn btn-outline-danger rounded-pill mb-4 fw-bold btn-lg"><i class="far fa-heart"></i> Like</button>
    </div>
    <div class="col-md-9">
        <div class="row g-5">
            <div class="col-md-12">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#" class="text-decoration-none">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#" class="text-decoration-none">Events</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Four Decades of Hits</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row">
                    <div class="col-md-auto">
                        <i class="far fa-calendar-alt fa-fw events-icon"></i>
                    </div>
                    <div class="col-md-11 mb-3">
                        <h5 class="fw-bold"> 13 Jun(Mon)</h5>
                        <span class="text-muted fs-6">Duration: 1hr 40mins (including 20min intermission)</span>
                    </div>
                    <div class="col-md-auto">
                        <i class="far fa-location fa-fw events-icon"></i>
                    </div>
                    <div class="col-md-11">
                        <h5 class="fw-bold">Marina Bay Sands</h5>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="bd-callout mb-4">
                    <h3 class="fw-bolder ps-3" id="about-the-event">About the event</h3>
                </div>
                <div class="details-section">
                    <h3 class="fw-bolder">
                        Concert Introduction
                    </h3>
                    <p>
                        One of the most distinguished classical music personalities of our time, the celebrated Stephen Hough returns to Singapore to play Mozart’s sparkling Piano Concerto No. 21, whose heavenly slow movement was made famous by the romantic film Elvira Madigan. Conducted by acclaimed period performance maestro Fabio Biondi, we’ll also hear the comedic zest of Rossini and a symphony by Johann Wenzel Kalliwoda (1801-1866), the 19th century Czech-born composer considered “the missing symphonic link between Beethoven and Schumann”.
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="details-section">
                    <h3 class="fw-bolder">
                        Concert Details
                    </h3>
                    <p>
                        Stephen Hough Plays Mozart | SSO Subscription Concert
                        Date & Time: 29 Apr 2022, 19:30
                        Venue: Esplanade Concert Hall
                        Admission for ages 7 and above
                    </p>
                </div>

            </div>
            <div class="col-md-12">
                <div class="details-section">
                    <h3 class="fw-bolder">
                        Ticket Details
                    </h3>
                    <p>
                        Tickets available on Esplanade
                        Price: SGD 15 / 28 / 38 / 48 / 68 / 88
                        Limited concessions for students, PWDs, NSFs and seniors: 30% off
                        Valid for Cat 4 - 6 only
                        Esplanade Me Specials: 10% savings
                    </p>
                </div>

            </div>
        </div>


    </div>
    <div class="col-md-3">
        <div class="card shadow border-0 sticky-top" id="price-card">
            <div class="card-body">
                <h4 class="fw-bold mb-2">S$ 15.00 - 88.00</h4>
                <button class="btn btn-primary w-100 fw-bold">Join Event <i class="far fa-arrow-alt-circle-right"></i></button>
            </div>
        </div>
    </div>
</div>