<div class="d-flex justify-content-center">
<form method="POST">
    <div class="row gy-3">
        <div class="col-md-12">
            <h2 class="fw-bolder">Create Items</h2>
        </div>
        <div class="col-md-6">
            <label for="name" class="form-label fw-bold">Name: </label>
            <input type="text" id="name" class="form-control" name="name">
        </div>
        <div class="col-md-6">
            <label for="description" class="form-label fw-bold">Description: </label>
            <textarea class="form-control" rows="3" id="description" name="description"></textarea>
        </div>

        <div class="col-md-6">
            <label for="price" class="form-label fw-bold">Price: </label>
            <input type="number" id="price" class="form-control" name="price">
        </div>
        <div class="col-md-3">
            <label for="status" class="form-label fw-bold">Status: </label>
            <select class="form-control" id="status" name="status">
                <option>Sold out</option>
                <option>In stock</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="stock" class="form-label fw-bold">Stock: </label>
            <input type="number" id="stock" class="form-control" name="stock">
        </div>
    </div>
</form>
</div>