<h2 class="mb-5 fw-bold"><i class="bi bi-cart3"></i>All Products</h2>

<div class="row g-5 row-cols-4">
    <div class="col">
        <div class="card item-card" style="width: 18rem;">
            <div class="col-md-4">
                <img src="../img/yanz.jpg" class="" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Card Body!</h5>
                    <p class="card-text">This is a paragraph</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card item-card" style="">
            <div class="col-md-4">
                <img src="../img/yanz.jpg" class="" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Card Body!</h5>
                    <p class="card-text">This is a paragraph</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card item-card" style="">
            <div class="col-md-4">
                <img src="../img/yanz.jpg" class="" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Card Body!</h5>
                    <p class="card-text">This is a paragraph</p>
                </div>
            </div>
        </div>
    </div>

</div>