<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distreet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/site.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    {{!--
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" /> --}}

    {{!--
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" /> --}}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="./lib/filepond-master/dist/filepond.css" />
    <script src="../lib/filepond-master/dist/filepond.js"></script>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet" />

</head>
<header>
    {{> _Topbar}}
</header>
{{> _EventsBar}}

<div class="p-5 bg-light jumbotron text-light">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold d-flex justify-content-center">Events & Activities</h1>
        <p class="fs-4 d-flex justify-content-center">Find and book events effortlessly with us!</p>
      </div>
</div>

<body>

    <div class="container marketing mt-5">
        {{{body}}}
        {{> _Footer}}
    </div>


    <script src="../lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/site.js" asp-append-version="true"></script>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

</body>

</html>